In [13]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
df = pd.read_csv(r'Preprocessing.csv')

In [15]:
df.head()

,Promotion Name,Store Kind,Store Sales,Store Cost,Is Recyclable?,Yearly Income,Store Area,Grocery Area,Frozen Area,Meat Area,...,Working Status,Sex,Department,Ordered_Brand,Product_Type,Video Store,Florist,Coffee Bar,Bar For Salad,Ready Food
0,Dimes Off,Deluxe,8760000.0,4292400.0,yes,less_70,2842.23,2037.64,481.98,323.00,...,professional,Female,Household,Red Wing,Cleaning Supplies,1.0,1.0,1.0,1.0,1.0
1,Budget Bargains,Supermarket,6360000.0,1971600.0,no,less_70,2814.95,2049.72,457.36,NaN,...,management,Female,Snack Foods,Nationeel,Snack Foods,NaN,NaN,NaN,NaN,NaN
2,Shelf Emptiers,Supermarket,10860000.0,4452600.0,yes,less_70,2192.32,1322.21,523.32,348.85,...,skilled manual,Male,Periodicals,Excel,Magazines,0.0,1.0,0.0,0.0,0.0
3,Savings Galore,NaN,1980000.0,673200.0,yes,less_70,1974.73,NaN,440.92,293.95,...,professional,Female,Dairy,Carlson,Dairy,0.0,0.0,1.0,0.0,0.0
4,Sale Winners,Deluxe,11560000.0,4970800.0,no,less_70,2862.30,1872.19,593.93,395.95,...,professional,Female,Produce,Hermanos,Vegetables,1.0,1.0,1.0,1.0,1.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38831 entries, 0 to 38830
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Promotion Name      33007 non-null  object
 1   Store Kind          33023 non-null  object
 2   Store Sales         38816 non-null  float64
 3   Store Cost          38824 non-null  float64
 4   Is Recyclable?      38829 non-null  object
 5   Yearly Income       38824 non-null  object
 6   Store Area          35266 non-null  float64
 7   Grocery Area        35225 non-null  float64
 8   Frozen Area         35282 non-null  float64
 9   Meat Area           35283 non-null  float64
 10  Cost                38831 non-null  float64
 11  Gross Weight        35914 non-null  float64
 12  Net Weight          35940 non-null  float64
 13  Package Weight      35254 non-null  float64
 14  City Code           38831 non-null  object
 15  Country Code        38831 non-null  object
 16  Status              38831 non-null  object
 17  Number of Children  31270 non-null  float64
 18  Working Status      38831 non-null  object
 19  Sex                 38831 non-null  object
 20  Department          38829 non-null  object
 21  Ordered_Brand       38829 non-null  object
 22  Product_Type        38829 non-null  object
 23  Video Store         34536 non-null  float64
 24  Florist             34536 non-null  float64
 25  Coffee Bar          34536 non-null  float64
 26  Bar For Salad       34536 non-null  float64
 27  Ready Food          34536 non-null  float64
dtypes: float64(16), object(12)
memory usage: 8.3+ MB

In [17]:
df.describe()

,Store Sales,Store Cost,Store Area,Grocery Area,Frozen Area,Meat Area,Cost,Gross Weight,Net Weight,Package Weight,Number of Children,Video Store,Florist,Coffee Bar,Bar For Salad,Ready Food
count,3.881600e+04,3.882400e+04,35266.000000,35225.000000,35282.000000,35283.000000,38831.000000,35914.000000,35940.000000,35254.000000,31270.000000,34536.000000,34536.000000,34536.000000,34536.000000,34536.000000
mean,6.531459e+06,2.612699e+06,2597.974058,1775.511982,493.530293,328.936548,519.224643,20.062862,17.136254,2.926056,2.897602,0.399670,0.633976,0.689136,0.660499,0.660499
std,3.464235e+06,1.450132e+06,528.770925,371.333830,145.972351,97.110040,156.875169,6.715689,6.810112,1.010825,1.432370,0.489838,0.481723,0.462854,0.473547,0.473547
min,5.100000e+05,1.632000e+05,1882.700000,1233.080000,227.800000,149.900000,265.631700,8.721600,4.433500,1.453500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.800000e+06,1.495125e+06,2189.417500,1507.530000,440.920000,293.280000,364.269500,14.056200,11.207200,2.907100,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,5.920000e+06,2.376000e+06,2572.860000,1734.500000,470.270000,313.550000,515.259600,19.768900,16.861700,2.907200,3.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,8.670000e+06,3.478000e+06,2863.827500,2052.610000,534.290000,356.190000,662.222600,25.728600,23.257500,3.052500,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.990000e+07,9.726500e+06,7857.550000,8103.200000,1783.640000,570.740000,783.192500,31.833700,30.234700,4.506200,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
for col in df.select_dtypes(include=['object']).columns:
    df[col] = df[col].astype('category')

In [19]:
df.isnull().sum().sort_values()

Sex                      0
Working Status           0
Status                   0
Country Code             0
Cost                     0
City Code                0
Product_Type             2
Department               2
Is Recyclable?           2
Ordered_Brand            2
Store Cost               7
Yearly Income            7
Store Sales             15
Net Weight            2891
Gross Weight          2917
Meat Area             3548
Frozen Area           3549
Store Area            3565
Package Weight        3577
Grocery Area          3606
Video Store           4295
Coffee Bar            4295
Florist               4295
Ready Food            4295
Bar For Salad         4295
Store Kind            5808
Promotion Name        5824
Number of Children    7561
dtype: int64

In [20]:
# This code generates a correlation matrix using the Pearson correlation coefficient from a pandas DataFrame "df"
corr_matrix = df.corr(method = "pearson" )

corr_matrix.style.background_gradient(cmap='coolwarm')

#as we see
# high corr (Store Sales,Store Cost),(Store Area,Grocery Area),
#(Frozen Area,Meat Area),(Gross Weight,Net Weight)(Bar For Salad,Ready Food) so we will delete one of thim

C:\Users\SALAH MAHMOUD\AppData\Local\Temp\ipykernel_18852\633512440.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corr_matrix = df.corr(method = "pearson" )

In [21]:
df = df.drop(['Frozen Area','Net Weight','Bar For Salad','Store Cost','Grocery Area'],axis = 1)

In [22]:
numeric_columns  = df.drop(['Video Store','Florist','Coffee Bar','Ready Food'],axis = 1).select_dtypes(include='number')
categorical_columns = df.select_dtypes(include='category')

In [23]:
print(f'len of numeric_columns: {len(numeric_columns.columns)}')
print(f'len of categorical_columns: {len(categorical_columns.columns)}')

len of numeric_columns: 7
len of categorical_columns: 12

In [25]:
df['Promotion Name'].isnull().sum()

5824

In [28]:
df = df.dropna(subset=['Promotion Name'], axis=0)

In [31]:
pd.set_option('display.max_columns', 23)
df.head()

,Promotion Name,Store Kind,Store Sales,Is Recyclable?,Yearly Income,Store Area,Meat Area,Cost,Gross Weight,Package Weight,City Code,Country Code,Status,Number of Children,Working Status,Sex,Department,Ordered_Brand,Product_Type,Video Store,Florist,Coffee Bar,Ready Food
0,Dimes Off,Deluxe,8760000.0,yes,less_70,2842.23,323.00,602.7575,28.1997,1.5990,H11go,ZA,Single,4.0,professional,Female,Household,Red Wing,Cleaning Supplies,1.0,1.0,1.0,1.0
1,Budget Bargains,Supermarket,6360000.0,no,less_70,2814.95,NaN,708.6650,16.5710,1.5990,S04ne,WA,Single,3.0,management,Female,Snack Foods,Nationeel,Snack Foods,NaN,NaN,NaN,NaN
2,Shelf Emptiers,Supermarket,10860000.0,yes,less_70,2192.32,348.85,564.2647,28.6358,1.4536,L05es,CA,Married,2.0,skilled manual,Male,Periodicals,Excel,Magazines,0.0,1.0,0.0,0.0
3,Savings Galore,NaN,1980000.0,yes,less_70,1974.73,293.95,724.5119,14.2161,2.9217,S03le,WA,Single,3.0,professional,Female,Dairy,Carlson,Dairy,0.0,0.0,1.0,0.0
4,Sale Winners,Deluxe,11560000.0,no,less_70,2862.30,395.95,519.7574,12.6172,2.9072,M10da,YU,Married,5.0,professional,Female,Produce,Hermanos,Vegetables,1.0,1.0,1.0,1.0

In [32]:
df.to_csv("Exploration.csv", index=False)